/*      /==========================/
*       /==<    VARIABLES      >===/
*       /==========================/
**/

/* Catppuccin Colorscheme */

@define-color rosewater   #F5E0DC;
@define-color flamingo    #F2CDCD;
@define-color pink        #F5C2E7;
@define-color mauve       #CBA6F7;
@define-color red         #F38BA8;
@define-color maroon      #EBA0AC;
@define-color peach       #FAB387;
@define-color yellow      #F9E2AF;
@define-color green       #A6E3A1;
@define-color teal        #94E2D5;
@define-color sky         #89DCEB;
@define-color sapphire    #74C7EC;
@define-color blue        #89B4FA;
@define-color lavender    #B4BEFE;
@define-color text        #CDD6F4;
@define-color subtext1    #BAC2DE;
@define-color subtext0    #A6ADC8;
@define-color overlay2    #9399B2;
@define-color overlay1    #7F849C;
@define-color overlay0    #6C7086;
@define-color surface2    #585B70;
@define-color surface1    #45475A;
@define-color surface0    #313244;
@define-color base        #1E1E2E;
@define-color mantle      #181825;
@define-color crust       #11111B;

/*       ==================================
*        =      GLOBAL WAYBAR STYLE       =
*        ==================================
**/

#waybar {
  background-color: rgba(24, 24, 37, 0.9);
  padding: 0px;
  margin: 0px;
}

/* Tooltips */
tooltip {
  background: @crust;
  border-radius: 4px;
  border: 0.5px solid @text;
}
tooltip label {
  color: @subtext1;
}

#battery,
#backlight,
#cpu,
#clock,
#memory,
#disk,
#language,
#bluetooth,
#pulseaudio,
#temperature,
#network,
#tray,
#mode,
#idle_inhibitor{
  font-family: JetBrainsMono Nerd Font;
  /* font-family: Barlow Semi Condensed Medium; */
  font-size: 9pt;
  color: @subtext1;
  padding: 0px 0.40rem;
}

#network,
#pulseaudio,
#backlight,
#cpu,
#memory,
#disk,
#battery {
  background-color: rgba(17, 17, 27, 0.8);
  border-radius: 0px 6px 6px 0px;
  margin: 4px 4px 4px 0px;
}

#network.icon,
#backlight.icon,
#cpu.icon,
#memory.icon,
#disk.icon,
#battery.icon,
#pulseaudio.icon {
  font-weight: bold;
  border-radius: 6px 0px 0px 6px;
  margin: 4px 0px 4px 4px;
  color: @mantle;
}

button {
  min-height: 18px;
  min-width: 24px;
}



/*       ==============================
*        ==     MODULES STYLES       ==
*        ==============================
**/


/*      BATTERY     */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.icon {
  background-color: @green;
}
 
#battery.warning {
  color: @yellow;
}
 
#battery.critical {
  color: @red;
}
#battery.charging {
  color: @green;
}

#battery.icon.warning {
  color: @mantle;
  background-color: @peach;
}
 
#battery.icon.critical {
  color: @mantle;
  background-color: @red;
}
#battery.icon.charging {
  color: @mantle;
  background-color: @green;
}
 
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}
 
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}


/*      WORKSPACES     */
#workspaces{
  font-weight: normal;
  font-style: normal;
  font-size: 0pt;
  padding: 0px;
  margin: 4px;
  /* background-color: @mantle; */
  border-radius: 8px;
}

#workspaces button {
  font-size: 0pt;
  padding: 0px 2px;
  margin: 0px 4px;
  border-radius: 8px;
  color: @overlay0;
  background-color: @overlay0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background-color: @lavender;
  color: @lavender;
  min-width: 50px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
	background-color: @lavender;
	color: @lavender;
	border-radius: 8px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  font-weight: bold;
  font-style: italic;
  color: @red;
}


/*      BACKLIGHT     */
#backlight{ }

#backlight.icon {
  background-color: @yellow;
}
/*      BLUETOOTH     */
#bluetooth{
  font-weight:bold;
  padding: 0px 0.40rem;
  background-color: @pink;
  color: @mantle;
  border-radius: 6px 0px 0px 6px;
  margin: 4px 1px 4px 4px;
}

#bluetooth.disabled{
  background-color: @surface0;
  color: @overlay2;
}

#bluetooth.off{
  background-color: @surface0;
  color: @overlay2;
}

#bluetooth.on{
  background-color: @overlay2;
  color: @surface0;
}

#bluetooth.connected{
  background-color: @pink;
  color: @mantle;
}

/*      CPU     */
#cpu{ }

#cpu.icon {
  background-color: @maroon;
}

#cpu.icon.warning {
  color: @mantle;
}
 
#cpu.icon.critical {
  color: @mantle;
}


#cpu.warning {
  color: @peach;
}
 
#cpu.critical {
  color: @red;
}


/*      MEMORY     */
#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.icon {
  background-color: @flamingo;
}
 
#memory.warning {
  color: @peach;
 }
 
#memory.critical {
  color: @red;
  animation-name: blink-critical;
  animation-duration: 2s;
}

#memory.icon.warning {
  color: @mantle;
 }
 
#memory.icon.critical {
  color: @mantle;
}


/*      TEMPERATURE     */
#temperature {
  padding-right: 1rem;
  margin-right: 2px;
  border-bottom: 2px solid @white;
  /* border-radius: 30px 15px 22px 19px; */
}


#language {
  /* background-color: @surface0; */
  color: @text;
  border-radius: 6px;
  padding: 0px 0.40rem;
}



/*      /==>    VOLUME     <==/    */
#pulseaudio {
  border-radius: 0px 6px 6px 0px;
}
#pulseaudio.icon {
  color: @mantle;
  background-color: @blue;
}
#pulseaudio.muted {
  margin: 4px;
  border-radius: 6px;
  background-color: @peach;
}

#network {
  border-radius: 6px;
  margin: 4px;
}

#network.icon {
  margin: 4px 4px 4px 0px;
  border-radius: 0px 6px 6px 0px;
  background-color: @mauve;
}

#network.icon.disconnected {
  color: @overlay2;
  background-color: @surface0;
}


#mode {
  /* font-family: Hack; */
  margin: 2px 0px;
  font-size: 14px;
  border: 0px;
  border-radius: 6px;
  background-color: @base;
  color: @yellow;
}
 
#network.disconnected {
    color: @peach;
}


#clock {
  font-family: Roboto Condensed;
  min-height: 12px;
  min-width: 20px;
  font-size: 14px;
  /* font-weight: bold; */
  color: @text;
  margin-right: 0px;
  border-right: 0px;
}

#disk { }

#disk.icon {
  background-color: @lavender;
}

#tray{
  /* background-color: @base; */
  margin: 4px 0px;
  padding: 0rem 0.4rem;
}


/*      CUSTOM     */
#custom-power{
  font-size: 9pt;
  font-family: Liga SFMono Nerd Font;
  color: @mantle;
  background-color: @red;
  margin: 4px 4px 4px 8px;
  padding: 0rem .25rem 0rem 0rem;
  border-radius: 6px;
}
