/*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2  #40455;
@define-color base3  #4b5160;


/*
*   /=> Catppuccin Color Scheme <=/
*/
 
@define-color black0     #161320;
@define-color black1     #1A1826;
@define-color black2     #1E1E2E;
@define-color black3     #302D41;
@define-color black4     #575268;
@define-color gray0      #6E6C7E;
@define-color gray1      #988BA2;
@define-color gray2      #C3BAC6;
@define-color white      #D9E0EE;
@define-color lavender   #C9CBFF;
@define-color rosewater  #F5E0DC;

@define-color flamingo   #F2CDCD;
@define-color mauve      #DDB6F2;
@define-color pink       #F5C2E7;
@define-color marron     #E8A2AF;
@define-color red        #F28FAD;
@define-color peach      #F8BD96;
@define-color yellow     #FAE3B0;
@define-color green      #ABE9B3;
@define-color teal       #B5E8E0;
@define-color blue       #96CDFB;
@define-color sky        #89DCEB;


*{
    font-family: Space Grotesk;
    font-weight: bold;
    font-size: 12px;
}

#window {
    background-color: @black1;
    border-radius: 24px;
    border: 2px solid @black3;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 0px 4px;
    padding: 4px 8px;
    margin-top: -28px;
}

#scroll {
}

#text {
    padding: 6px;
    color: @white;
}

#entry {
    background-color: @black2;
    border-radius: 64px;
    margin: 6px 0px;
    padding: 6px;
}


#entry:selected {
    background-color: @gray1;
}

#text:selected {
    color: @black2;
    padding: 6px 20px;
    font-weight: bolder;
}
