#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor{
    padding:0.5rem 0.6rem;
    font-size:12px;
      /* margin: 1px 0px; */
}

/*      /===============================/
*       /==<    MODULES STYLES      >===/
*       /===============================/
**/


/*      /==>    BATTERY     <==/    */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-right:4px;
}
 
#battery.warning {
    color: orange;
}
 
#battery.critical {
    color: red;
}
 
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}
 
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}



/*      /==>    WORKSPACES     <==/    */
#workspaces{
    font-size:20px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-left:0px;
}

#workspaces button.focused {
    border-bottom: 2px solid  @highlight;
    margin-bottom: 1px;
    padding-left:0;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}


/*      /==>    BACKLIGHT     <==/    */
#backlight{
    margin-right:8px;
    font-size:16px;
}


/*      /==>    BLUETOOTH     <==/    */
#bluetooth{
    margin-right:8px;
    font-size:16px;
}


/*      /==>    CPU     <==/    */
#cpu{
    /* margin-right:-8px; */
}
#cpu.warning {
        color: orange;
}
 
#cpu.critical {
        color: red;
}


/*      /==>    MEMORY     <==/    */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 
#memory.warning {
    color: orange;
 }
 
#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}


/*      /==>    TEMPERATURE     <==/    */
#temperature {
    margin-right:8px;
}


#language {
    margin-right:8px;
}



/*      /==>    VOLUME     <==/    */
#pulseaudio {
    margin-right:8px;
}
#pulseaudio.muted {
    font-size:20px;
    color: @highlight;
}


#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding:7px;
}
 
#network.disconnected {
        color: orange;
}


#custom-power{
   margin-left:15px;
   margin-right:15px;
   font-size:15px;
}
