/*      /==========================/
*       /==<    VARIABLES      >===/
*       /==========================/
**/

/*
*   /=> COLORS
*   /==> Catppuccin
*   Black0:     #161320
*   Black1:     #1A1826
*   Black2:     #1E1E2E
*   Black3:     #302D41
*   Black4:     #575268
*   Gray0:      #6E6C7E
*   Gray1:      #988BA2
*   Gray2:      #C3BAC6
*   White:      #D9E0EE
*   Lavender:   #C9CBFF
*   Rosewater:  #F5E0DC
*
*   Flamingo:   #F2CDCD
*   Mauve:      #DDB6F2
*   Pink:       #F5C2E7
*   Marron:     #E8A2AF
*   Red:        #F28FAD
*   Peach:      #F8BD96
*   Yellow:     #FAE3B0
*   Green:      #ABE9B3
*   Teal:       #B5E8E0
*   Blue:       #96CDFB
*   Sky:        #89DCEB
*
*
*
* */

/* :root { */
    /* --black0: #161320; */
    /* --black1: #1A1826; */
    /* --black2: #1E1E2E; */
    /* --black3: #302D41; */
    /* --black4: #575268; */
    /* --gray0: #6E6C7E; */
    /* --gray1: #988BA2; */
    /* --gray2: #C3BAC6; */
    /* --white: #D9E0EE; */
    /* --lavender: #C9CBFF; */
    /* --rosewater: #F5E0DC; */
    /* --flamingo: #F2CDCD; */
    /* --mauve: #DDB6F2; */
    /* --pink: #F5C2E7; */
    /* --marron: #E8A2AF; */
    /* --red: #F28FAD; */
    /* --peach: #F8BD96; */
    /* --yellow: #FAE3B0; */
    /* --green: #ABE9B3; */
    /* --teal: #B5E8E0; */
    /* --blue: #96CDFB; */
    /* --sky: #89DCEB; */
/* } */


/*      /====================================/
*       /==<    GLOBAL WAYBAR STYLE      >===/
*       /====================================/
**/

#waybar {
    border-radius:10px;
    background-color: #1E1E2E;
}

#battery,
#backlight,
#cpu,
#memory,
#mode,
#language,
#bluetooth,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor{
    color: #D9E0EE;
    font-size: 12px;
    padding: 0px 0.8rem;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: #302D41;
}

/*      /===============================/
*       /==<    MODULES STYLES      >===/
*       /===============================/
**/


/*      /==>    BATTERY     <==/    */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius:6px 0px 0px 6px;
    padding-left: 1.0rem;
    margin-left: 8px;
}
 
#battery.warning {
    color: orange;
}
 
#battery.critical {
    color: red;
}
#battery.charging {
    color: #ABE9B3;
}
 
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}
 
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}



/*      /==>    WORKSPACES     <==/    */
#workspaces{
    font-size: 20px;
    padding: 0px;
    border-radius: 16px;
    background-color: #302D41;
}
#workspaces button {
    padding: 0rem 0.0rem;
}
#workspaces button.focused {
    font-size: 20px;
    border-radius: 16px;
    color: #1A1826;
    background-color: #C3BAC6;
}
#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}


/*      /==>    BACKLIGHT     <==/    */
#backlight{
    font-size:16px;
    margin-right:8px;
    padding-right: 1.0rem;
    border-radius: 0px 6px 6px 0px;
}


/*      /==>    BLUETOOTH     <==/    */
#bluetooth{
    font-size:16px;
}


/*      /==>    CPU     <==/    */
#cpu{
    /* color: ; */
}
#cpu.warning {
    color: #F8BD96;
}
 
#cpu.critical {
    color: #F28FAD;
}


/*      /==>    MEMORY     <==/    */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 
#memory.warning {
    color: #F8BD96;
 }
 
#memory.critical {
    color: #F28FAD;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}


/*      /==>    TEMPERATURE     <==/    */
#temperature {
    border-radius: 0px 6px 6px 0px;
    padding-right: 1.0rem;
    margin-right: 8px;
}


#language {
    margin-left:8px;
    border-radius: 6px 0px 0px 6px;
    padding-left: 1.0rem;
}



/*      /==>    VOLUME     <==/    */
#pulseaudio {
}
#pulseaudio.muted {
    font-size:20px;
    color: @highlight;
}


#mode {
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-left: 8px;
    border-radius: 16px;
    color: #1A1826;
    background-color: #B5E8E0;
}
 
#network.disconnected {
    color: orange;
}


#clock {
    font-size:14px;
    margin-left:16px;
    margin-right:8px;
}

#tray{
    background-color:#161320;
    margin-right:8px;
    border-radius: 6px 6px 6px 6px;
    padding-right: 1.0rem;
    padding-left: 1.0rem;
}


/*      /==>    CUSTOM     <==/    */
#custom-power{
   margin-left:8px;
   margin-right:16px;
   font-size:18px;
}
