/*      /==========================/
*       /==<    VARIABLES      >===/
*       /==========================/
**/

/* /===> COLORS
   /=>   Catppuccin */
@define-color black0     #161320;
@define-color black1     #1A1826;
@define-color black2     #1E1E2E;
@define-color black3     #302D41;
@define-color black4     #575268;
@define-color gray0      #6E6C7E;
@define-color gray1      #988BA2;
@define-color gray2      #C3BAC6;
@define-color white      #D9E0EE;
@define-color lavender   #C9CBFF;
@define-color rosewater  #F5E0DC;

@define-color flamingo   #F2CDCD;
@define-color mauve      #DDB6F2;
@define-color pink       #F5C2E7;
@define-color marron     #E8A2AF;
@define-color red        #F28FAD;
@define-color peach      #F8BD96;
@define-color yellow     #FAE3B0;
@define-color green      #ABE9B3;
@define-color teal       #B5E8E0;
@define-color blue       #96CDFB;
@define-color sky        #89DCEB;

/*      /====================================/
*       /==<    GLOBAL WAYBAR STYLE      >===/
*       /====================================/
**/

#waybar {
    /* border-radius: 0px 0px 12px 12px; */
    background-color: @black2;
}

#battery,
#backlight,
#cpu,
#memory,
#mode,
#language,
#bluetooth,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor{
    /* font-weight:bold; */
    color: @lavender;
    font-size: 12px;
    padding: 0px 0.8rem;
    margin: 0px;
    background-color: @black3;
}

/*      /===============================/
*       /==<    MODULES STYLES      >===/
*       /===============================/
**/


/*      /==>    BATTERY     <==/    */
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 16px 0px 0px 16px;
    padding-left: 1rem;
    margin-left: 4px;
}
 
#battery.warning {
    color: @black3;
    background-color: @rosewater;
}
 
#battery.critical {
    color: @black3;
    background-color: @marron;
}
#battery.charging {
    color: @black3;
    background-color: @green;
}
 
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}
 
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}



/*      /==>    WORKSPACES     <==/    */
#workspaces{
    font-size: 18px;
    padding: 0px 2px;
    border-radius: 16px;
    background-color: @black0;
}
#workspaces button {
    margin: 0px -2px;
    padding: 0rem;
    color: @white;
    border-radius: 16px;
}
#workspaces button.focused {
    color: @black0;
    background-color: @gray2;
}
#workspaces button.urgent {
    color: @marron;
}


/*      /==>    BACKLIGHT     <==/    */
#backlight{
    font-size: 16px;
    margin-right: 8px;
    padding-right: 1rem;
    border-radius: 0px 16px 16px 0px;
}


/*      /==>    BLUETOOTH     <==/    */
#bluetooth{
    font-size:16px;
}


/*      /==>    CPU     <==/    */
#cpu{
    /* color: ; */
}
#cpu.warning {
    color: @black3;
    background-color: @rosewater;
}
 
#cpu.critical {
    color: @black3;
    background-color: @marron;
}


/*      /==>    MEMORY     <==/    */
#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
 
#memory.warning {
    color: @black3;
    background-color: @rosewater;
 }
 
#memory.critical {
    color: @black3;
    background-color: @marron;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}


/*      /==>    TEMPERATURE     <==/    */
#temperature {
    border-radius: 0px 16px 16px 0px;
    padding-right: 1rem;
    margin-right: 2px;
}


#language {
    margin-left: 8px;
    border-radius: 16px 0px 0px 16px;
    padding-left: 1rem;
}



/*      /==>    VOLUME     <==/    */
#pulseaudio {
}
#pulseaudio.muted {
    font-size: 18px;
    color: @gray0;
}


#mode {
    font-weight: bold;
    /* text-transform: uppercase; */
    margin-left: 8px;
    border-radius: 16px;
    color: #1A1826;
    background-color: #B5E8E0;
}
 
#network.disconnected {
    color: orange;
}


#clock {
    color: @flamingo;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

#tray{
    background-color: @black0;
    margin: 0px 8px;
    border-radius: 20px;
    padding: 0rem 0.8rem;
}


/*      /==>    CUSTOM     <==/    */
#custom-power{
    color: @flamingo;
    /* font-weight:bold; */
    margin-left: 10px;
    margin-right: 12px;
    font-size: 16px;
}
